.chat {
    position: fixed;
    background-color: var(--background);
    width: 30%;
    border-radius: 8px;
    overflow: hidden;
    bottom: 2%;
    right: 1%;
    z-index: 1;
}

.chat-header {
    background-color: var(--secondary-color);
    color: #fff;
    display: flex;
    height: 3rem;
    padding: 0.5rem;
}

.receiver-profile {
    display: flex;
    align-items: center;
    
}

.messages-box {
    margin-top: 0.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: relative;
    /* height: 50vh; */
    overflow-y: auto;
}


.empty-inbox {
    position: relative;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--secondary-color);
    gap: 1rem;
}

.chat-icon {
    color: var(--secondary-color);
}

.send-message, .received-message {
    position: inherit;
    min-width: 30%;
    padding: 0.5rem;
    max-width: 80%;
    display: flex;
    flex-direction: column;
}

.send-message {
    background-color: rgb(230, 230, 230);    
    border-radius: 0.5rem 0 0.5rem 0.5rem;
    color: rgb(146, 146, 146);
    align-self: flex-end;
}

.received-message {
    background-color: var(--secondary-color);
    border-radius: 0 0.5rem 0.5rem 0.5rem;
    color: #fff;
    align-self: flex-start;
}

.time {
    align-self: flex-end;
    display: flex;
    gap: 4px;
}

.message-reply-box {
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 1;
    background-color: var(--background);
    padding: 0.5rem 0.5rem 2rem 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.message-reply-box textarea {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
  
    border: solid 1px var(--secondary-color);
    border-radius: 8px;
    outline-color: var(--secondary-color);
    /* font-size: var(--fontsize-normal); */
    font-size: var(--fontsize-normal);
    color: gray;
    resize: none;
    overflow-y: auto;
    height: 4rem;
    /* min-height: 2.5rem;    */
    /* max-height: 4rem; */
}

.submit-message.active {
    color: var(--secondary-color);
    cursor: pointer;
}

.submit-message.inactive {
    cursor: not-allowed;
    color: gray;
}