.dashboard {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.dashboard-content {
    position: relative;
    width: 100%;
    display: flex;
    gap: 1rem;
}

.actions {
    display: flex;
    gap: 1rem;
}

.actions button {
    border: none;
    border-radius: 2rem;    
    background-color: white;
    border: solid var(--secondary-color) 1px;
    color: var(--secondary-color);
    transition: color 0.3s;
}

.actions button:hover {
    background-color: var(--secondary-color);
    color: #fff;
}

.actions .active-button {
    background-color: var(--secondary-color);
    color: white;
}

.order-content {    
    position: relative;
    padding: 1rem;
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-height: 5rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    transition: box-shadow 0.2s ease-in-out;
    background-color: var(--background);
}

.order-content .title-box {
    text-align: start;
    width: 100%;
}

.title-box article {
    font-weight: 700;
}

.order-content:hover {
    box-shadow: 0 4px 18px rgba(0,0,0,0.08);
}

.bottom-box { 
    position: relative;
    width: 100%;
    font-size: var(--fontsize-small);
    display: flex;
    justify-content: space-between;
}

.bottom-box .fx-start {
    display: flex;
    position: relative;
    gap: 3rem;  
}

.bottom-box .fx-end{
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.deadline {
    background-color: var(--green-var);
    /* background-color: rgb(0, 128, 0); */
    padding: 0 0.5rem;
    color: white;
    border-radius: 2rem;
    width: fit-content;
    font-size: normal;
}
