.order-view {
    position: relative;
    padding: 0 1rem;
    display: flex;
    /* justify-content: space-between; */
    /* flex-direction: column; */
    /* background-color: red; */
}

.order-details {
    position: relative;
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.order-details strong {
    position: relative;
}

.order-soln, .summary, .instructions, .attachments {
    position: relative;
    padding: 1rem;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--background);
    /* background-color: aliceblue; */
    border-radius: 4px;
}

.order-elements, .order-soln div div {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.order-elements .status {
    background-color: green;
    color: white;
    padding: 0.3rem 0.7rem;
    border-radius: 2rem;
    font-size: 0.9rem;
}

.complete-order {
    width: inherit;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 4px;
    color: #f5f5f5;  
    transition: transform 0.3s;  
}

.complete-order:hover {
    transform: scale(1.03);
}

.order-soln div div{
    position: inherit;
    gap: 4rem;
}

.instructions {
    line-height: 1.6;
    font-family: inherit;
}

.instructions strong {
    height: 2rem;
}

.download-icon {
    color: var(--secondary-color);
    border: solid 1px ;
    border-radius: 50%;
    border-style: dashed;
    padding: 0.3rem;
}

textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: 1.6;
}

.edit-icon {
    color: var(--secondary-color);
}

.instructions strong, .attachments strong {
    display: flex;
    align-items: center;
    gap: 2rem;
    color: var(--secondary-color);
}

.submit-instructions {
    background-color: var(--secondary-color);
    border: none;
    color: #fff;
    border-radius: 4px;
}

.upload-div {
    position: inherit;
    width: 100%;
    display: flex;
    justify-content: center;
}

.upload-div article {
    border: solid 1px var(--secondary-color);
    border-radius: 8px;
    padding: 1rem;
    border-style: dashed;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: var(--secondary-color);
}

/* Loading Animations */

.order-skeleton {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.order-skeleton .skeleton-heading, .double-content{
    position: relative;
    width: 60% ;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
   
}

.skeleton-heading * {
    position: inherit;
    width: 100%;
    height: 1rem;
    animation: skeleton-loading 1s linear infinite alternate;
    border-radius: 8px;
}

.skeleton-heading div:last-child {
    position: inherit;
    width: 70% !important;
}

.double-content {
    display: flex;
    flex-direction: row !important;
    gap: 1rem;
}

.circle-skeleton {    
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    animation: skeleton-loading 1s linear infinite alternate;
}

.skeleton-content {
    width: 100%;
    height: 5rem;
    animation: skeleton-loading 1s linear infinite alternate;
    border-radius: 4px;
}
