.order-creation {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.order-creation-details .order-required-details {
    display: grid;
    grid-template-columns: repeat(2, 40%);
    gap: 1.5rem;
}

.order-creation-details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.order-required-details div {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.order-creation-details .order-required-details input, .order-creation-details .order-required-details select, #amount  {
    padding: 0.7rem 0.5rem;
    border-radius: 8px;
    border: solid 1px var(--secondary-color);
    font-size: var(--fontsize-normal);
    outline-color: var(--secondary-color);
    color: gray;
    background-color: #fff;
}
/* 
.order-required-details select option{
    font-size: larger;
} */

.instructions-box textarea {
    position: inherit;
    width: 40%;
    border-radius: 8px;
    font-size: var(--fontsize-normal);
    border: solid 1px var(--secondary-color);
    outline-color: var(--secondary-color);
    padding: 0.7rem 0.5rem;
    color: gray;
}

.create-task {
    border-radius: 8px;
    border: solid 1px var(--secondary-color);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.text-limit-helper {
    color: orange;
    position: absolute;
    top: 0;
    right: 0;
    font-size: small;
}