.bio {
  position: inherit;
  width: auto;
  padding: 1rem;
  background-color: var(--bg-color);
  color: var(--background);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: solid 1px var(--secondary-color);
  border-radius: 4px;
  transition: border 3s;
}

.bio textarea {
  background-color: var(--bg-color) !important;
  color: #f5f5f5 !important;
}

.bio strong {
  color: var(--accent-sec-color);
}

.bio:hover {
  border: dashed 1px #fff;
}

.prof-element {
  border: solid 2px var(--bg-color) !important;
  padding: 1rem;
  border-radius: 4px;
}

.prof-summary div span {
  background-color: var(--bg-color);
  border-radius: 50%;
  width: 1.8rem;
  height: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f5f5f5;
  font-size: 85%;
}

.save {
  position: relative;
  width: 5rem;
  background-color: var(----primary-color);
  border: solid 1px var(--secondary-color);
  color: #fff;
  cursor: pointer;
}
