.settings-page {
    padding: 1rem;
}

.settings-personal {
    display: flex;
    gap: 2rem;
}

.settings-personal .feature-1, .feature-2 {
    display: flex;
    gap: 2rem;
    padding: 1rem;
    background-color: var(--background);
    border-radius: 8px;
    align-items: center;
    justify-content: center;    
}
.feature-1 {
    cursor: pointer;
}
.settings-personal div article {
    font-weight: 700;
}

.notifications-settings {
    position: inherit;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.notifications-settings .content {
    position: inherit;
    display: flex;
    width: 100%;
    gap: 1rem;
}
label{
    width: 54px;
    height: 25px;
    position: relative;
    background-color: gray;
    border-radius: 12px;
    transition: 0.4s;
    cursor: pointer;
    font-size: 12px;
}

label::before{
    content: '';
    position: absolute;
    width: 25px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    top: 2px;
    left: 2px;
    transition: 0.4s;
}

label::after{
    content: 'OFF';
    position: absolute;
    color: white;
    top: 4px;
    right: 3px;
    transition: 0.4s;
}

input:checked + label{
    background-color: var(--secondary-color);
}

input:checked + label::before{
    background-color: white;
    left: 24px;
}

input:checked + label::after{
    content: 'ON';
    color: white;
    left: 2px;
}
.pref {
    position: inherit;
    background-color: var(--background);
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: 8px;
    overflow: hidden;

}

.pref strong {
    font-weight: 700;
    padding: 1rem;
    background-color: var(--secondary-color);
    color: #fff;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.pref div {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

@media screen and (max-width: 800px) {
    .settings-personal {
      flex-direction: column;
      align-items: center;
    }
    .notifications-settings .content {
      flex-direction: column;
      align-items: center;
    }
    .pref {
      width: 100%;
    }
}