/* .main-in-progress{
   justify-content: center;
} */

.in-progress {
    position: relative;
    width: inherit;
    display: grid;
    gap: 2rem;
  }
  
  .wrapper-placeholder {
    display: flex;
    justify-content: center;
  }
  
  .create-task-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 1rem;
    height: 80dvh;
    color: #fff;
    overflow: hidden !important;
  }
  
  .create-task-div .child {
    /* border: solid 1px var(--secondary-color);
      border-style: dashed; */
    border-radius: 8px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }
  
  .go-to-order,
  .create-task-helper:hover {
    cursor: pointer;
    transform: scale(1.08);
  }
  
  .placeholder-icon {
    color: #fff;
  }
  
  @media screen and (min-width: 900px) {
    .create-task-div {
      width: 80%;
    }
  }
  
  @media screen and (max-width: 900px) {
    .create-task-div {
      width: 100dvw;
    }
  }