* {
  --fontsize-small:  0.90rem;
  --fontsize-normal: 0.95rem;
  --secondary-color: #7fc2f5;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    color: gray;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 1;
    height: 10vh;
}
.logo-img{
    height: 3rem;
    width: 3rem;
    margin-right: 10px;
}
.search-nav{
  position: inherit;
  width: 45%;
}
.search-input{
  position: relative;    
    width: 100%;
    padding: 1.3rem 0.8rem;
    border-radius: 2rem;
    border: solid 1px var(--secondary-color);
    font-size: var(--fontsize-normal);
    outline-color: var(--secondary-color);
}
.search-input:focus{
  border: solid 2px var(--secondary-color);
}
.suggestions {
  position: absolute;
  background-color: #f5f5f5;
  margin-top: 0.5rem;
  border-radius: 4px;
  width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  font-size: small;
}
.suggested {
  padding: 0.5rem 0.8rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.suggested:hover {
  background-color: rgb(235, 235, 235);
}
.logout{
  font-size: 1rem;
  background-color: #ECF0F3;
  padding: 4px 6px;
  font-weight: 300;
  color: var(--secondary-color);
  cursor: pointer;
  border: solid 1px #ECF0F3;
  border-radius: 4px;
}
.logout:hover{
  border: solid 1px var(--secondary-color);
}
.notif-bell {
  position: relative;
  padding: 0.3rem;
  transition: transform 0.5 ease-in-out;
}
.notif-bell:hover {
  transform: rotate(10deg);
}
.notif-icon {
  color: var(--secondary-color);
}
.notif-bell div {
  position: absolute;
  display: flex;
  top: 4%;    
  left: 1.1rem;    
  background-color: red;    
  border-radius: 50%;
  width: 15px;
  height: 15px;
  align-items: center;
  justify-content: center;
  padding: 1px;
}
.notif-bell div article {
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
}
.settings {
  transition: transform 0.5 ease-in-out;
  color: var(--secondary-color);
}

.settings:hover {
  transform: rotate(90deg);
}


.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.profile-info{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;  
}
.profile-info article{
  font-size: 1.2rem;
  font-weight: bold;
}
.img-placeholder{
  background-color: var(--secondary-color);
  color: #fff;
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}