
/* Skeleton anime */

.anim-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 0.5rem;
}
  
.skeleton-box {
  opacity: 0.7;
  width: 30%;
  aspect-ratio: 3;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  
}

.skeleton-article {
  width: 100%;
  height: 1rem;
  animation: skeleton-loading 1s linear infinite alternate;  
  border-radius: 4px;
}

.skeleton-article:last-child {
  position: inherit;
  width: 80%;
}