
/* Skeleton anime */

.anim-box {
    width: inherit;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    gap: 2rem;
  }
  
  .skeleton-box {
    opacity: 0.7;
    width: 100%;
    aspect-ratio: 3;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    
  }
  
  .skeleton-article {
    width: 100%;
    height: 1rem;
    animation: skeleton-loading 1s linear infinite alternate;  
    border-radius: 4px;
  }
  
  .skeleton-article:last-child {
    position: inherit;
    width: 80%;
  }