@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    --fontsize-normal: 0.95rem;
    --fontsize-small:  0.90rem;
    --primary-color:#0360d1;
    /* --secondary-color:#a7caff; */
    --secondary-color: #7fc2f5;
    --complementary:#eb7100;
    --text-color:#535354;
    --background: #f7fafc;
    --green-var:#14a014;
  }
  
  :root {
    font-family:'Poppins', sans-serif;
    line-height: 1.5;
    font-weight: 300;  
    font-size: var(--fontsize-normal);
    color: var(--text-color);
    letter-spacing: 0.2px;
  }

  body {
    padding: 0;
    margin: 0;
  }
  
  h1 {
    margin: 0;
    padding: 0;
  }



  
  
  
  /* Skeleton animation */
  
  @keyframes skeleton-loading {
    0% {
      background-color: hsl(202, 16%, 86%);
    }
  
    100% {
      background-color: hsl(200, 20%, 95%);
    }
    
  }

  .overlay {
    background-color: aliceblue;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0.6;
    z-index: 8;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgb(187, 187, 187); /* color of the scrollbar handle */
    border-radius: 6px; /* roundness of the scrollbar handle */
  }
  
  /* Scrollbar */
::-webkit-scrollbar {
  width: 6px; 
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* color of the scrollbar track */
}